.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    text-align: center;
    overflow: hidden;  
}

.bannerImg {
       position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    /* z-index: -1; */
    transform: scale(1.1);
}

.banner h1, 
.banner p {
    position: relative; 
    z-index: 1;  
    color: black;
    font-weight: 600;
}

/* Grid Layout */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    justify-content: center;
    padding: 0 20px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 40px 0;
}

.pageBtn, .nextBtn {
    background: #b89037;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 14px;
    border-radius: 4px;
}

.pageBtn:hover, .nextBtn:hover {
    background: #a47c30;
}
.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 20px;
    background: #fdf9f4;
    flex-wrap: wrap;
    gap: 30px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
    max-width: 280px;
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-5px);
}

.icon {
    font-size: 3rem;
    color: #000;
}

.feature h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.feature p {
    font-size: 1rem;
    color: #888;
    margin: 5px 0 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .features {
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        max-width: 90%;
        text-align: center;
        justify-content: center;
    }
}
